beautifulsoup4
fastapi
fpdf2
google-genai
groq
kiteconnect
lightgbm
lxml
numpy
pandas
plotly
prophet
pyarrow
python-dotenv
requests
scikit-learn
streamlit
ta
torch
transformers
uvicorn
xgboost
yfinance
